{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="container font-inter p-8 min-w-full mb-10 bg-orange-600">
    <section class="text-white max-w-7xl mx-auto">
        <h1 class="text-4xl font-bold">CS2 Match Analysis</h1>
        <p class="font-light text-md text-orange-100">Статистика HLTV на {{ latest_date }}</p>
    </section>
</header>

<main class="container mx-auto max-w-7xl font-inter">
    <form method="get"
          hx-get="{% url 'index' %}"
          hx-target="#page-content"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="h-auto flex mb-10 gap-4"
          hx-indicator="#loader">

        <div class="flex-1">
            <p class="text-gray-500 text-sm mb-2">Команда 1</p>
            <label class="input text-white h-12 w-full bg-cardsdark border-bordercard flex items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 opacity-70 text-gray-400">
                    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                </svg>
                {{ form.team1 }}
            </label>
        </div>

        <div class="flex-1">
            <p class="text-gray-500 text-sm mb-2">Команда 2</p>
            <label class="input text-white h-12 w-full bg-cardsdark border-bordercard flex items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 opacity-70 text-gray-400">
                    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                </svg>
                {{ form.team2 }}
            </label>
        </div>

        <div class="flex items-end">
            <button type="submit" class="btn bg-orange-500 h-12 px-8">Анализ</button>
        </div>
    </form>

    <div id="page-content">
        {% include 'content_partial.html' %}
    </div>
</main>
{% endblock %}