{% extends 'base.html' %}
{% block content %}
    <header class="container font-inter p-8 min-w-full mb-10 bg-orange-600">
        <section class="text-white max-w-7xl mx-auto">
            <h1 class="text-4xl font-bold">CS2 Match Analysis</h1>
            <p class="font-light text-md text-orange-100">Статистика HLTV на {{ latest_date }}</p>
        </section>
    </header>

    <main class="container mx-auto max-w-7xl font-inter">
        <form method="get" class="h-auto flex mb-10 gap-4">
            <div class="flex-1">
                <p class="text-gray-500 text-sm mb-2">Команда 1</p>
                <label class="input text-white h-12 w-full bg-cardsdark border-bordercard flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 opacity-70 text-gray-400">
                        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                    </svg>
                    <input type="text" name="team1" class="input-ghost input-lg grow bg-cardsdark"
                           placeholder="Выберите команду" list="teams_list" value="{{ request.GET.team1 }}" />
                </label>
            </div>
            <div class="flex-1">
                <p class="text-gray-500 text-sm mb-2">Команда 2</p>
                <label class="input text-white h-12 w-full bg-cardsdark border-bordercard flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 opacity-70 text-gray-400">
                        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                    </svg>
                    <input type="text" name="team2" class="input-ghost input-lg grow bg-cardsdark"
                           placeholder="Выберите команду" list="teams_list" value="{{ request.GET.team2 }}" />
                </label>
            </div>
            <div class="flex items-end">
                <button type="submit" class="btn bg-orange-500 h-12 px-8">Анализ</button>
            </div>
        </form>

        <datalist id="teams_list">
            {% for team in all_teams %}
                <option value="{{ team.name }}"></option>
            {% endfor %}
        </datalist>

        {% if error %}
            <div class="alert alert-error mb-10">
                <span>{{ error }}</span>
            </div>
        {% endif %}

        {% if show_analysis %}
            {% with team1=team1 team2=team2 %}
            <section class="h-auto flex justify-between gap-2 flex-wrap mb-10">
            {% for team in teams_to_display %}
            <div class="bg-cardsdark border border-bordercard rounded-xl max-w-full">
              <div class="p-4 flex items-center gap-4">
                    <div class="text-orange-500 bg-bgicon w-8 h-8 content-center justify-items-center rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
                        </svg>
                    </div>
                    <div>
                        <div class="text-xs text-gray-500">{{ team.team.name }} Win Rate</div>
                        <div class="text-2xl text-emerald-500">{{ team.win_rate_last_3m|floatformat:1 }}%</div>
                    </div>
              </div>
            </div>
            <div class="bg-cardsdark border border-bordercard rounded-xl max-w-full">
              <div class="p-4 flex items-center gap-4">
                    <div class="text-orange-500 bg-bgicon w-8 h-8 content-center justify-items-center rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                        </svg>
                    </div>
                    <div>
                        <div class="text-xs text-gray-500">{{ team.team.name }} Rating</div>
                        <div class="text-2xl text-emerald-500">{{team.rating}}</div>
                    </div>
              </div>
            </div>
            <div class="bg-cardsdark border border-bordercard rounded-xl max-w-full">
              <div class="p-4 flex items-center gap-4">
                    <div class="text-orange-500 bg-bgicon w-8 h-8 content-center justify-items-center rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </div>
                    <div>
                        <div class="text-xs text-gray-500">{{ team.team.name }} K/D</div>
                        <div class="text-2xl text-emerald-500">{{team.kd_ratio}}</div>
                    </div>
              </div>
            </div>
            {% endfor %}
        </section>
                <section class="h-auto justify-center flex flex-col bg-cardsdark border border-bordercard rounded-xl max-w-full p-10 mb-10 text-center">
                    <p class="text-white text-xl font-bold mb-8">Win Probability</p>
                    <div class="flex justify-center gap-8 mb-8">
                        <div class="text-right">
                            <p class="text-3xl text-blue-400 font-bold">{{ team1.win_rate_last_3m|floatformat:0 }}%</p>
                            <p class="text-sm text-gray-400">{{ team1.team.name }}</p>
                        </div>
                        <div class="flex items-center">
                            <p class="text-2xl text-gray-400">VS</p>
                        </div>
                        <div class="text-left">
                            <p class="text-3xl text-orange-500 font-bold">{{ team2.win_rate_last_3m|floatformat:0 }}%</p>
                            <p class="text-sm text-gray-400">{{ team2.team.name }}</p>
                        </div>
                    </div>
                    <progress class="progress progress-info w-full h-8 mb-8" value="{{ team1.win_rate_last_3m }}" max="100"></progress>
                    <div class="rounded-xl bg-stone-800 text-left p-6">
                        <p class="text-sm text-gray-400 mb-4">Рекомендация</p>
                        <p class="text-white text-lg">
                            {% if team1.win_rate_last_3m > team2.win_rate_last_3m %}
                                <span class="text-blue-400 font-bold">{{ team1.team.name }}</span> имеет больше шансов на победу.
                            {% elif team2.win_rate_last_3m > team1.win_rate_last_3m %}
                                <span class="text-orange-500 font-bold">{{ team2.team.name }}</span> имеет больше шансов на победу.
                            {% else %}
                                Матч равный — всё решит форма в день игры!
                            {% endif %}
                        </p>
                    </div>
                </section>

                <section class="h-auto flex gap-10 mb-10">
            <div class="h-100 w-470 p-10 bg-cardsdark rounded-xl border border-bordercard">
                <p class="text-white text-lg font-bold">Recent Form (Last 10 Matches)</p>
            </div>
            <div class="h-100 w-470 p-10 bg-cardsdark rounded-xl border border-bordercard">
                <p class="text-white text-lg font-bold">Recent Form (Last 10 Matches)</p>
            </div>
        </section>
        <section class="h-auto flex gap-10 mb-10">
            <div class="h-100 w-full p-10 bg-cardsdark rounded-xl border border-bordercard">
                <p class="text-white text-lg font-bold">Map Performance</p>
            </div>
        </section>
        <section class="h-auto flex flex-wrap justify-center gap-20 mb-10">
            <div class="max-w-150 p-10 bg-cardsdark rounded-xl border border-bordercard">
                <p class="text-white text-lg font-bold mb-5">{{team1.team.name}} {{recent_matches_team1|length}} Maps</p>
                <div class="flex flex-wrap gap-3">
                {% for match in recent_matches_team1 %}
                <div class="h-20 w-full flex justify-between items-center rounded-xl border
                  {% if match.win_rate >= 60 %}bg-green-900 border-emerald-300
                  {% elif match.win_rate < 50 %}bg-red-950 border-rose-400
                  {% else %}bg-gray-800 border-gray-600{% endif %}">
                  <div class="p-4 flex items-center gap-4">
                    <div class="w-8 h-8 flex items-center justify-center
                          {% if match.win_rate >= 60 %}text-emerald-300
                          {% elif match.win_rate < 50 %}text-rose-400
                          {% else %}text-gray-400{% endif %}">
                        {% if match.wins > match.losses %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        {% endif %}
                    </div>
                    <div>
                        <div class="text-md text-white font-light">{{ match.win_rate }}%</div>
                        <div class="text-sm text-gray-300 font-light">{{ match.map_name }}</div>
                    </div>
                    </div>
                    <p class="{% if match.win_rate >= 60 %}text-emerald-300
                               {% elif match.win_rate < 50 %}text-rose-400
                               {% else %}text-gray-400{% endif %} text-2xl mr-5 font-bold">
                        {{ match.wins }}-{{ match.losses }}
                    </p>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="max-w-150 p-10 bg-cardsdark rounded-xl border border-bordercard">
                <p class="text-white text-lg font-bold mb-5">{{team2.team.name}} {{recent_matches_team2|length}} Maps</p>
                <div class="flex flex-wrap gap-3">
                    {% for match in recent_matches_team2 %}
                    <div class="h-20 w-full flex justify-between items-center rounded-xl border
                          {% if match.win_rate >= 60 %}bg-green-900 border-emerald-300
                          {% elif match.win_rate < 50 %}bg-red-950 border-rose-400
                          {% else %}bg-gray-800 border-gray-600{% endif %}">

                    <div class="p-4 flex items-center gap-4">
                        <div class="w-8 h-8 flex items-center justify-center
                              {% if match.win_rate >= 60 %}text-emerald-300
                              {% elif match.win_rate < 50 %}text-rose-400
                              {% else %}text-gray-400{% endif %}">
                            {% if match.wins > match.losses %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            {% endif %}
                        </div>

                        <div>
                            <div class="text-md text-white font-light">{{ match.win_rate }}%</div>
                            <div class="text-sm text-gray-300 font-light">{{ match.map_name }}</div>
                        </div>
                    </div>

                    <p class="{% if match.win_rate >= 60 %}text-emerald-300
                               {% elif match.win_rate < 50 %}text-rose-400
                               {% else %}text-gray-400{% endif %} text-2xl mr-5 font-bold">
                        {{ match.wins }}-{{ match.losses }}
                    </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="h-auto flex justify-center gap-4 flex-wrap pb-10">
        {% for team in teams_to_display %}
            <div class="bg-cardsdark border border-bordercard rounded-xl w-70">
              <div class="p-4 flex items-center gap-4">
                    <div class="text-orange-500 bg-bgicon w-8 h-8 content-center justify-items-center rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
                        </svg>
                    </div>
                    <div>
                        <div class="text-xs text-gray-500">{{ team.team.name }} Maps Played</div>
                        <div class="text-2xl text-gray-500">{{team.maps_played}}</div>
                    </div>
              </div>
            </div>
            <div class="bg-cardsdark border border-bordercard rounded-xl w-70">
              <div class="p-4 flex items-center gap-4">
                    <div class="text-orange-500 bg-bgicon w-8 h-8 content-center justify-items-center rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </div>
                    <div>
                        <div class="text-xs text-gray-500">{{ team.team.name }} rank</div>
                        <div class="text-2xl text-gray-500">№{{team.rank}}</div>
                    </div>
              </div>
            </div>
            {% endfor %}
        </section>
            {% endwith %}
        {% else %}
            <div class="text-center py-20">
                <p class="text-2xl text-gray-500">Выберите две команды для анализа матча</p>
            </div>
        {% endif %}
    </main>
{% endblock %}